mixin client_list_row(client_code, name, revenue, profitability, priority, no_of_jobs, hrs_week)
 tr.add-member-row
   td= client_code
   td= name
   td= revenue
   td= profitability
   td= priority
   td= no_of_jobs
   td= hrs_week